{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TODO app{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TODO app</a>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                    <a class="nav-link" href="{% url 'myapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:login' %}">Login</a>
                    <a class="nav-link" href="{% url 'myapp:registration' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>