{% extends "myapp/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Register</h1>
    <form method="post" action="{% url 'myapp:registration' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock content %}